  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

  .logo{
    max-height: 200px;
  }

  header {
    background-color: #ffffff;
  }

  .container {      
    text-align: left;
  }

 
  .aligncenter { 
    text-align: center;
    padding: 20px;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #213A8F;
    width: auto;
  }

  nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 20px;
  }
  .title{
    text-align: center;
    }
    
    .image {
    display: block;
    margin: 0 auto;
    }
    
    .text{
    font-size: 17px;
    }
    table{
    background: #fff;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
  .box{
    height: auto;
    width: 800px;
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
    word-wrap: break-word;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    }
    ul {
    list-style-type: none;
    padding: 0;
    }
    li {
    background: #fff;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .docs {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    }
    .docs:hover {
    color: #0066cc;
    }
    .news {
      margin-top: 20px;
    }

  footer {
    background-color: #213A8F;
    color: #fff;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
  }

  .contact-info {
  text-align: left; 
  }

  .footer-content {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
  }

  .logo-footer {
    max-width: 200px;
    max-height: 150px; 
  }

  .copyright {
    margin-top: 20px;
  }

  a {
    color: #fff; 
    text-decoration: none; 
  }

  a:hover {
    text-decoration: underline; 
  }
