<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Кванториум</title> 
    {% block head %}
    {% endblock %}
</head>
<header>
  <div class="container">
    <div class="logo">
    <img src="http://kompozit-ut.ru/upload/iblock/944/944478f07d2b2ea5e4b13202789298a9.jpg">
    </div>
    <nav>
      <a href="{% url 'Home' %}">Главная</a>
      <a href="{% url 'event' %}">Мастер-классы</a>
      <a href="{% url 'news' %}">Новости</a>
      <a href="{% url 'info' %}">Сведения о организации</a>
    </nav>
  </div>
</header>

<div class="box">
  {%block content%}
  {% endblock %}
  </div>
  <footer>
    <div class="footer-content">
      <img src="https://lh6.googleusercontent.com/proxy/LfQ4FrEbpEZaApTfnteOvP_SJQvNruTOv9emn-wE6SpN0CXzEidbDURrFRyyIhK2xOMvXhc_T6hu9alOgXM" alt="Логотип" class="logo-footer">
      <div class="contact-info">
        <p><strong>Адрес:</strong> ул. Красная Горнячка, 4</p>
        <p><strong>Телефон:</strong> +7 (982) 346-45-07</p>
        <p><strong>Группа ВКонтакте:</strong> <a href="https://vk.com/kvantkop">vk.com/kvantkop</a></p>
      </div>
    </div>
    <p class="copyright">&copy; 2024 Кванториум</p>
  </footer> 
</div>
</body>
</html>