{% extends 'main/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block content %}
<ul> <!-- pdf_view название функции из views.py -->
    <li><a class="docs" href="{% url 'pdf_view' %}" target="_blank">Устав Муниципального учреждения дополнительного образования "Станция юных техников" Копейского город</a></li>
    <li><a class="docs" href="{% url 'pdf_view' %}" target="_blank">Правила внутреннего распорядка обучающихся</a></li>
</ul>
{% endblock %}