{% extends 'main/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block content %}
{% for item in news %}
  <div class="news">
    <table>
      <tr>
      <td><h2 class="title" >{{ item.title }}</h2></td>
      </tr>
      <tr>
      <td><img src="{{ item.image.url }}" class="image" width="750px" height="421px"></td>
      </tr>
      <tr>
      <td><p class="text" >{{ item.text }}</p></td>
      </tr>
      </table>
  </div>
{% endfor %}
{% endblock %}